<app-task-form (messageSent)="newTask()"></app-task-form>

<form [formGroup]="searchForm">

    <mat-form-field appearance="fill">
        <input matInput placeholder="Search" formControlName="headerPrefix">
    </mat-form-field>
    <label>Sort</label>
    <mat-form-field>
        <mat-select formControlName="sorting">
            <mat-option *ngFor="let option of sortingOptions" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</form>

<div class="task_container">
    
    <div style="width: 50%; float:left">
        <mat-toolbar color="primary">
            <h2>ToDo</h2>
        </mat-toolbar>
        
        <div *ngFor="let task of getNotDoneTasks()" class="task">
            <app-task-display-item [task]="task" (taskUpdated) ="refreshTasks()"></app-task-display-item>
            <mat-divider></mat-divider>
        </div>
    </div>
    <div style="width: 50%; float:right">
        <mat-toolbar color="primary">
            <h2>Done</h2>
        </mat-toolbar>

        <div *ngFor="let task of getDoneTasks()" class="task">
            <app-task-display-item  [task]="task" (taskUpdated) ="refreshTasks()"></app-task-display-item>
            <mat-divider></mat-divider>
        </div>
    </div>


</div>

