<app-task-form (messageSent)="newTask()"></app-task-form>
<input type="text" placeholder="Search.." (change)="onInputChange()" [(ngModel)]="headerPrefix">

<label>Sort</label>
<select [(ngModel)]="selectedSorting" (change)="refreshTasks()">
    <option *ngFor="let sort_opt of sortingOptions">{{sort_opt}}</option>

</select>
<div class="task_container">
    
    <div class="task_list">
        <h2>ToDo</h2>
        <div *ngFor="let task of getNotDoneTasks()" class="task">
            <app-task-display-item [task]="task" (taskUpdated) ="refreshTasks()"></app-task-display-item>
        </div>
    </div>
    <div class="task_list">
        <h2>Done</h2>
        <div *ngFor="let task of getDoneTasks()" class="task">
            <app-task-display-item  [task]="task" (taskUpdated) ="refreshTasks()"></app-task-display-item>
        </div>
    </div>

</div>

